{
    "parser": "@typescript-eslint/parser",
    "plugins": [
        "@typescript-eslint"
    ],
    "extends": [
        "eslint:recommended",
        "plugin:@typescript-eslint/recommended"
    ],
    "rules": {
        "max-len": [
            2,
            {
                "code": 120,
                "tabWidth": 4,
                "ignoreUrls": true
            }
        ],
        "eol-last": [
            "error",
            "always"
        ],
        "quotes": "off",
        "@typescript-eslint/quotes": [
            "error",
            "single"
        ],
        "semi": [
            "error",
            "always"
        ],
        "@typescript-eslint/no-inferrable-types": 0
    }
}